<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css">
  <title>SERVER</title>
</head>

<body>
  <div id="main-div">
    <h1>WELCOME TO THE SERVER</h1>
  <div id="results">
    HELLO!
    <h2>Results</h2>
    <!-- <button id="myButton" class="button">See Picture</button> -->
    <div><img id="pictureTaken" src="imgs/logo1.png" alt=""></div>
    <!-- <button id="batteryInfo" class="button">Battery Info</button> -->
      <div id="networkInfoDiv">
          <h3>Network Info: </h3>
          <p><%=network%></p>
          <a href="https://192.168.0.92:443"><button class="button" id="networkHP">Home Page</button></a>
      </div>
    </div>
  </div>
</body>
</html>