<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css">
  <script src='jquery-3.6.1.min.js'></script>
  <!-- <script data-main="scripts/main" src="require.js"></script> -->
  <!-- <script type="module" src="./main.js"></script> -->
  <title>CAMERA PAGE</title>
</head>

<body>
  <div id="main-div" >
    <h1>Picture Taken</h1>
  <img src="imgs/picture.jpg" id="myImage" alt="last picture taken">
  </div>
  <a href="/camera"><button class="button" id="camera">Take another picture</button></a>
  <a href="/"><button class="button" id="homePage">Home Page</button></a>
</body>

</html>