body {
  background-color: blanchedalmond;
}
  #main-div {
    width: 700px;
    height: 160px;
    outline: solid 1px black;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  h1,
  h2 {
    display: flex;
    justify-content: center;
  }

  #message-container {
    display: flex;
    justify-content: center;
    background-color: rgb(196, 144, 80);
    width: 350px;
    margin: auto;
  }

  .button {
    display: inline;
    margin-left: 20px;
    margin-top: 20px;
    /* justify-items: center; */
    background-color: rgb(196, 144, 80);
    color: white;
    width: 150px;
  }
  #results {
    /* align-items: center; */
    /* justify-content: center; */
    margin: 10px auto;
    border: solid black 1px;
    width: 700px;
    height: 375px;
  }

  #pictureTaken{
    margin-left: 35%;
    width: 200px;
    height: 400;
    padding-bottom: 10px
  } 
  a{
    text-decoration: none;
  }

  #savePhoto, #reset {
    position: absolute;
    /* margin-top: 60px; */
    /* margin-left: -149px; */
  }

  #myButton{
    margin-left: 105px;
  }

  #inputBox{
    margin-left: 200px;
  }

  #batteryDiv{
    display: flex;
  }

  #batteryDiv p{
    margin-left: 20px;
    width: 33%
  }

  #positionHP{
    margin-left: 0;
  }